In [1]:
print("Hello, world!")

Hello, world!

In [11]:
b=[1,2,3]

In [1]:
a=5

In [2]:
print(a)

5

In [3]:
%run test.py

Hello world!

In [4]:
a=5

In [5]:
a

5

In [8]:
import numpy as np

In [10]:
data={i:np.random.randn() for i in range(7)}

In [11]:
data

{0: 0.5285106474489938,
 1: 0.5751494157015741,
 2: 1.0452907792122739,
 3: -0.17968614418227968,
 4: 0.24828367842489826,
 5: -1.536508754984545,
 6: 0.8946090611916213}

In [15]:
an_apple=27

In [16]:
an_example=42

In [24]:
b=[1,2,3]

In [27]:
import datetime

In [31]:
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [32]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [33]:
def add_numbers(a,b):
    """Add two numbers together
        Returns
        --------
        the_sum : type of arguments
        """
    return a+b

In [34]:
add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers together
Returns
--------
the_sum : type of arguments
File:      /app/<ipython-input-33-f2b11a66d642>
Type:      function

In [35]:
add_numbers??

Signature: add_numbers(a, b)
Source:
def add_numbers(a,b):
    """Add two numbers together
        Returns
        --------
        the_sum : type of arguments
        """
    return a+b
File:      /app/<ipython-input-33-f2b11a66d642>
Type:      function

In [36]:
np.*load*?

np.__loader__
np.load
np.loads
np.loadtxt

In [38]:
%run ipython_script_test.py

In [39]:
c

7.5

In [40]:
result

1.4666666666666666

In [43]:
a=np.random.randn(100,100)

In [44]:
%timeit np.dot(a,a)

314 µs ± 20 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [45]:
a=np.random.randn(100,100)
%timeit np.dot(a,a)

314 µs ± 18.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [46]:
%debug?

Docstring:
::

  %debug [--breakpoint FILE:LINE] [statement [statement ...]]

Activate the interactive debugger.

This magic command support two ways of activating debugger.
One is to activate debugger before executing code.  This way, you
can set a break point, to step through the code from the point.
You can use this mode by giving statements to execute and optionally
a breakpoint.

The other one is to activate debugger in post-mortem mode.  You can
activate this mode simply running %debug without any argument.
If an exception has just occurred, this lets you inspect its stack
frames interactively.  Note that this will always work only on the last
traceback that occurred, so you must call this quickly after an
exception that you wish to inspect has fired, because if another one
occurs, it clobbers the previous one.

If you want IPython to automatically do this on every exception, see
the %pdb magic for more details.

.. versionchanged:: 7.3
    When running code, user variables are no longer expanded,
    the magic line is always left unmodified.

positional arguments:
  statement             Code to run in debugger. You can omit this in cell
                        magic mode.

optional arguments:
  --breakpoint <FILE:LINE>, -b <FILE:LINE>
                        Set break point at LINE in FILE.
File:      /usr/local/lib/python3.8/site-packages/IPython/core/magics/execution.py

In [47]:
%matplotlib

Using matplotlib backend: agg

In [48]:
a=[1,2,3]

In [49]:
b=a

In [50]:
a.append(4)

In [51]:
b

[1, 2, 3, 4]

In [52]:
def append_element(some_list,element):
    some_list.append(element)

In [53]:
data=[1,2,3]

In [54]:
append_element(data,4)

In [55]:
data

[1, 2, 3, 4]

In [56]:
a=5

In [57]:
isinstance(a,int)

True

In [58]:
b=4.5

In [59]:
isinstance(a,(int,float))

True

In [60]:
a='foo'

In [62]:
getattr(a,'split')

In [65]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [66]:
isiterable('a string')

True

In [67]:
isiterable([1,2,3])

True

In [68]:
isiterable(5)

False

In [69]:
import some_module

In [71]:
result=some_module.f(5)

In [72]:
result

7

In [73]:
pi=some_module.PI

In [74]:
pi

3.14159

In [75]:
from some_module import f,g,PI
result=g(5,PI)

In [76]:
result

8.14159

In [77]:
import some_module as sm
from some_module import PI as pi, g as gf
r1=sm.f(pi)
r2=gf(6,pi)

In [81]:
r1

5.14159

In [82]:
r2

9.14159

In [83]:
a=[1,2,3]
c=list(a)

In [84]:
c

[1, 2, 3]

In [85]:
a is not c

True

In [86]:
a?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [87]:
c?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [88]:
a is c

False

In [89]:
a==c

True

In [90]:
template='{0:.2f}{1:s}are worth US${2:d}'

In [94]:
template.format(4.5560," Argentine Pesos ",1)

'4.56 Argentine Pesos are worth US$1'

In [95]:
from datetime import datetime,date,time

In [96]:
dt=datetime(2011,10,29,20,30,21)

In [97]:
dt.day

29

In [98]:
dt.minute

30

In [99]:
dt.date()

datetime.date(2011, 10, 29)

In [101]:
dt.time()

datetime.time(20, 30, 21)

In [102]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [103]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [105]:
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [106]:
dt2=datetime(2011,11,15,22,30)

In [107]:
delta=dt2-dt

In [108]:
delta

datetime.timedelta(days=17, seconds=7179)

In [109]:
type(delta)

datetime.timedelta

In [110]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [111]:
dt+delta

datetime.datetime(2011, 11, 15, 22, 30)

In [112]:
seq=[1,2,3,4]

In [113]:
for i in range(len(seq)):
    val=seq[i]

In [114]:
val

4