# Redo Assignment 4 with Pandas

## Read the census cost data from the webpage

In [ ]:
import pandas as pd


page = pd.read_html('https://www.genealogybranches.com/censuscosts.html')   #read from the website

##  Explore the data frame

In [ ]:
type(page)      #determine type

list

In [ ]:
len(page)       #determine length

2

In [ ]:
page[0]         #see what the first element of 2 is

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

#### This is essentially the data we want

In [ ]:
df=page[0]                         #assign the first list element to a data frame
type(df)

pandas.core.frame.DataFrame

## Issues with data:
1.  Last year in year column has an asterisk after it.
2.  In census cost column, all commas and dollar signs need to be removed, as well as removing the word billion and multiplying the number by 1,000,000,000.
3.  In the average cost per person column, the word cents should be removed.  Also, all dollar signs need to be removed and the number should be divided by 100 to keep the column units as cents consistent. 
4.  The first row is counted as data and not as a header.

In [ ]:
page[1]         #see what the second element of 2 is

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

#### We don't need this one

In [ ]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

## Replace row 1 as header for the data frame

In [ ]:
df.columns=df.iloc[0]                    #assign row 1 as column headings
data=df.drop([0])                        #get rid of row 1
data.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

## Make a function to address issues above and cleanse the data

### Cleanse years

In [ ]:
def cleanse_year(raw_year):
  new_year=raw_year.replace('*','')           #replace asterisk with nothing
  return new_year

In [ ]:
cleanse_year('1998*')                         #testing

'1998'

In [ ]:
cleanse_year('20*10')                         #testing

'2010'

In [ ]:
data["Census Year"]=data["Census Year"].apply(cleanse_year)   #use function to cleanse years and then replace with 
data                                                          #cleansed years

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

### Cleanse cost

In [ ]:
def cleanse_cost(raw_cost):
  new_cost=raw_cost.replace('$','').replace(',','').replace(' Billion','')  #replace $, commas, and Billion with nothing
  if raw_cost.find('4.5') != -1:                                            #if 4.5, change to 4500000000
    new_cost='4500000000'
  elif raw_cost.find('13') != -1:                                           #if 13, change to 13000000000
    new_cost='13000000000'
  return new_cost

In [ ]:
cleanse_cost('$37')                 #testing

'37'

In [ ]:
cleanse_cost('5 Billion')           #testing

'5'

In [ ]:
cleanse_cost('$1,078,488,000')      #testing

'1078488000'

In [ ]:
cleanse_cost('$4.5 Billion')        #testing

'4500000000'

In [ ]:
cleanse_cost('$13 Billion')         #testing

'13000000000'

In [ ]:
data["Census Cost"]=data["Census Cost"].apply(cleanse_cost)       #use function to cleanse cost and then replace with
data                                                              #cleansed costs

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377              1.13 cents
2         1800          5308483        66109              1.24 cents
3         1810          7239881       178445              2.46 cents
4         1820          9633822       208526              2.16 cents
5         1830         12866020       378545              2.94 cents
6         1840         17069458       833371              4.88 cents
7         1850         23191876      1423351              6.14 cents
8         1860         31443321      1969377              6.26 cents
9         1870         38558371      3421198              8.87 cents
10        1880         50155783      5790678             11.54 cents
11        1890         62979766     11547127             18.33 cents
12        1900         76303387     11854000             15.54 cents
13        1910         91972266     15968000             17.07 cents
14        1920        105710620     25117000             23.76 cents
15        1930        122775046     40156000             32.71 cents
16        1940        131669275     67527000             51.29 cents
17        1950        151325798     91462000             60.44 cents
18        1960        179323175    127934000             71.34 cents
19        1970        203302031    247653000                   $1.22
20        1980        226542199   1078488000                   $4.76
21        1990        248718301   2492830000                  $10.02
22        2000        281421906   4500000000                  $15.99
23        2010        308745538  13000000000                  $42.11

### Cleanse average cost

In [115]:
def cleanse_avg(raw_avg):
  if raw_avg.find('cents') != -1:                    #if you see 'cents'
    new_avg=float(raw_avg.replace('cents',''))/100   #replace it with nothing, change to a float, and divide by 100
  elif raw_avg.find('$') != -1:                      #if you see a '$'
    new_avg=raw_avg.replace('$','')                  #replace it with nothing
  return new_avg

In [116]:
cleanse_avg('1.13 cents')

0.0113

In [117]:
cleanse_avg('$1.22')

'1.22'

In [119]:
data["Average Cost Per Person"]=data["Average Cost Per Person"].apply(cleanse_avg)  #use function to cleanse avg cost and then replace with
data                                                                                #cleansed avg costs

UnboundLocalError: ignored

In [ ]:
data.to_csv (r'census_cost_cleansed.csv', index = False, header=True)
print(data)

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                    1.13
2         1800          5308483        66109                    1.24
3         1810          7239881       178445                    2.46
4         1820          9633822       208526                    2.16
5         1830         12866020       378545                    2.94
6         1840         17069458       833371                    4.88
7         1850         23191876      1423351                    6.14
8         1860         31443321      1969377                    6.26
9         1870         38558371      3421198                    8.87
10        1880         50155783      5790678                   11.54
11        1890         62979766     11547127                   18.33
12        1900         76303387     11854000                   15.54
13        1910         91972266     15968000                   17.07
14        1920        105710620     25117000                   23.76
15        1930        122775046     40156000                   32.71
16        1940        131669275     67527000                   51.29
17        1950        151325798     91462000                   60.44
18        1960        179323175    127934000                   71.34
19        1970        203302031    247653000                  0.0122
20        1980        226542199   1078488000                  0.0476
21        1990        248718301   2492830000                  0.1002
22        2000        281421906   4500000000                  0.1599
23        2010        308745538  13000000000                  0.4211