# Pandas and Tidy Data:  Intro

## Daniel Chen: Cleaning and Tidying Data in Pandas | PyData DC 2018
https://www.youtube.com/watch?v=iYie42M1ZyU

In [1]:
import pandas

In [3]:
df=pandas.read_csv('gapminder.tsv',sep='\t')  # to read tsv file in as csv

In [4]:
df.head()  # display first five rows

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
df.columns  # attribute of the df, not a function being called, so no ()

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [6]:
df.index   # index attribute

RangeIndex(start=0, stop=1704, step=1)

In [7]:
df.values  # values attribute

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.shape

(1704, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
df['country']  # give all values in country column

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [12]:
country_df=df['country']  # make a country df

In [13]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [14]:
type(country_df)

pandas.core.series.Series

### Subsetting columns

In [15]:
subset=df[['country','continent','year']]  #  subset of the df just with these 3 vars

In [16]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [18]:
pandas.__version__  # current version of pandas; important when googling for help

'1.0.5'

### Three ways to subset rows

In [19]:
# use index
df.loc[2]   # match character '2' (not 2nd row)

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [20]:
df.loc[[2,0]]  # more than one row, character matching 0 and 2

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
0  Afghanistan      Asia  1952   28.801   8425333  779.445314

In [21]:
# use iloc
df.iloc[2]  # find row 2 (0,1,*2*)

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [22]:
# ix deprecation; looks like it's gone away now
df.ix[2]

AttributeError: 'DataFrame' object has no attribute 'ix'

### Subset of rows and columns

In [23]:
subset=df.loc[:,['year','pop']]   # [all rows=:,[2 columns]

In [24]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [25]:
df.loc[df['year']==1967,['year','pop']]  # rows=1967, 2 columns

      year       pop
3     1967  11537966
15    1967   1984060
27    1967  12760499
39    1967   5247469
51    1967  22934225
...    ...       ...
1647  1967  39463910
1659  1967   1142636
1671  1967   6740785
1683  1967   3900000
1695  1967   4995432

[142 rows x 2 columns]

In [27]:
df.loc[(df['year']==1967)&(df['pop']>1_000_000),['year','pop']]  # &and,|or

      year       pop
3     1967  11537966
15    1967   1984060
27    1967  12760499
39    1967   5247469
51    1967  22934225
...    ...       ...
1647  1967  39463910
1659  1967   1142636
1671  1967   6740785
1683  1967   3900000
1695  1967   4995432

[123 rows x 2 columns]

## Observations from part 1:
* I never understood why sometimes there would be parentheses (df.info()) and sometimes not (df.shape).  The video showed me the difference between attributes and functions.
* I didn't really understand the difference between loc and iloc, so I appreciated the clarification here.
* I liked the step-by-step explanation of how to call a subset of rows, columns, or rows and columns in pandas.